.after-navbar {
    padding-top: 80px;
}

/* Blog Post Content */
.post-content img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.post-content img + em {
    font-size: 0.85em;
}
